body {
  margin: 0;
  font-family: Inter;
  background: #0d0d0d;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-family: "Bebas Neue";
  font-size: 28px;
}

.logo span {
  color: gold;
}

.hero {
  text-align: center;
  margin-top: 40px;
}

/* GAME */

.guess-game {
  margin-top: 80px;
  text-align: center;
}

.game-card {
  max-width: 500px;
  margin: auto;
  background: #111;
  padding: 20px;
  border-radius: 16px;
  transition: transform 0.15s ease;
  transform-style: preserve-3d;
}

.game-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.answer-btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #222;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.answer-btn:hover {
  background: #444;
  transform: scale(1.05);
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#nextBtn {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  background: gold;
  cursor: pointer;
}

#chefMode {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  background: #ff4d00;
  color: white;
  cursor: pointer;
}

#timer {
  margin-left: 10px;
  color: lime;
  font-weight: bold;
}

#feedback {
  margin-top: 10px;
  font-weight: bold;
}